@{
    Page.Title = "Veiculos";
    Layout = "~/View/Shared/_Layout2.cshtml";

    IList<Veiculo> listaVeiculos = new VeiculoBO().ListaVeiculos();
}

<div class="row">
    <div class="col-12">
        <h1>Veiculos Cadastrados</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Modelo:</th>
                <th>Ano:</th>
                <th>Preço 24h</th>
                <th>Descrição:</th>
                <th>AÇÕES:</th>
            </tr>
            @foreach (var item in listaVeiculos)
            {
                <tr id="@item.VeiculoID">
                    <td>@item.Modelo </td>
                    <td>@item.AnoFabricacao </td>

                    <td>@item.PrecoDiaria</td>
                    <td>@item.Descricao </td>
                    <td>
                        <a href="~/View/Veiculo/AltVeiculo.cshtml?VeiculoID=@item.VeiculoID" class="btn btn-info">Alterar</a> |
                        <a href=" #" onclick=" excluirAJAX('@item.VeiculoID')" class="btn btn-danger">Excluir</a>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="~/View/Veiculo/CadVeiculo.cshtml" class="btn btn-primary"> Novo Veiculo</a>
    </div>
</div>

<script>
    function excluirAJAX(id)
    {
        var xhttp = new XMLHttpRequest(); 
        var apagar = confirm("Deseja excluir o registro?");
        if (apagar == true)
        {
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    
                    var linha = document.getElementById(id);
                    linha.parentNode.removeChild(linha);  



                    
                }
            };
            xhttp.open("GET", "ExcluirVeiculo.cshtml?VeiculoID=" + id, true);  
            xhttp.send();

        }


    }
</script>